.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.dialog {
    max-width: 90%;
    min-width: 700px;

    .form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding-block: 10px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 250px;

            .label {
                font-weight: 600;
            }
        }

    }

    .saveBtn {
        width: 150px;
    }


}